<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>HelloSpringBoot</title>
</head>
<body>
    <h1>Hello spring boot!</h1>

    <p>
        A basic hello world project with springboot.
    </p>

    <ul>
        <li>Home page url: http://localhost:8080/ </li>
        <li>Response body url: http://localhost:8080/helloResponseBody</li>
        <li>Url parameter and modelAttribute url: http://localhost:8080/hello?name=XXXX</li>
    </ul>

</body>
</html>